body {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

main {
    padding: 20px;
}

.messages {
    border-top: 1px solid #333;
    margin-top: 20px;
}

.messages h2 {
    margin-top: 0;
}

.message {
    border-bottom: 1px solid #333;
    padding: 10px 0;
}

footer {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
}